/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } /* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */ a:hover, a:active {outline: none; } table {border-collapse: collapse; border-spacing: 0; }


/*this is z-slide-box comment*/

#wow ul ,#wow ul li{margin:0px;padding:0px;}
#wow a{text-decoration:none;}
#wow ul {position:absolute; top:0px;left:0px;min-width:1000%;}
#wow ul li{list-style:none;line-height:50px;color:rgba(0,0,0,0.3);}
#wow ul li a{color:rgba(0,0,0,0.3);}
#wow ul li:hover a{color:#469CF6;}
#wow ul:after{content:'';display: block;clear: both;}
#wow{margin:0 auto;margin-top:240px;width:462px;height: 50px;}
#wow [data-role=box]{width:460px;overflow: hidden;height:50px;position: relative;}
#wow ul li{
	float:left;
	display:inline-block;
	padding-right:20px;
}


#wow {
    position:relative;
}
#wow .btn {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    background: #e8e8e8;
    line-height: 50px;
    text-align: center;
    color:white;
}
#wow .btn:hover{
    cursor:pointer;
    background:#469CF6;
}
#wow .btn.prev {
    right: 100%;
    margin-right:25px;
}
#wow .btn.next {
    left:100%;
}

#wow .btn.disable{
	opacity: 0;
}


